$background-color: #26282b;
$svg-color: #5f85db;
$primary-text-color: rgb(207, 207, 207);
$secondary-text-color: rgb(191, 191, 191);
$layout-breakpoint-small: 980px;

@mixin flex-display($justify: center, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin hoverColor($color: $svg-color) {
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $color;
    fill: $color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $primary-text-color;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  @include flex-display();
  min-height: 100vh;

  @media (max-width: $layout-breakpoint-small) {
    align-items: start;
  }
}

.card-wrapper {
  position: relative;
  width: 95%;
  max-width: 1100px;

  @media (max-width: $layout-breakpoint-small) {
    width: 80%;
  }

  .top-left,
  .bottom-right {
    position: absolute;
    fill: $svg-color;

    @media (max-width: $layout-breakpoint-small) {
      display: none;
    }
  }

  .top-left {
    top: -10px;
    left: -10px;
  }

  .bottom-right {
    bottom: -10px;
    right: -10px;
  }
}

.card {
  @include flex-display($align: start, $justify: start, $direction: column);
  position: relative;
  padding: 3rem;
  height: auto;
  background-color: $background-color;
  gap: 3rem;
  z-index: 5;

  @media (max-width: $layout-breakpoint-small) {
    padding: 1.5rem;
  }

  header {
    @include flex-display(
      $align: center,
      $justify: space-between,
      $direction: row
    );
    width: 100%;
  }

  &-main {
    display: grid;
    grid-template-areas: 'left left right';

    @media (max-width: $layout-breakpoint-small) {
      grid-template-areas: 'right' 'left';
      gap: 1rem;
    }
  }

  footer {
    align-self: flex-end;

    @media (max-width: $layout-breakpoint-small) {
      align-self: center;
    }
  }

  .card-main-left {
    grid-area: left;
    line-height: 1.5;
    @include flex-display($align: start, $direction: column);
    gap: 1rem;

    p {
      color: $secondary-text-color;
    }
  }

  .card-main-right {
    grid-area: right;
  }
}

button {
  @include flex-display();
  cursor: pointer;
}

.project-list-wrapper {
  @include flex-display($direction: column, $align: start);
  gap: 1rem;
  margin-left: 2rem;
  padding: 0 3rem;

  @media (max-width: $layout-breakpoint-small) {
    margin-left: unset;
    padding: unset;
  }

  .project-list {
    list-style: none;
    @include flex-display($direction: column, $align: start);

    button {
      @include hoverColor();
      border: none;
      background-color: transparent;
      color: $secondary-text-color;
      padding: 10px 0;
      text-decoration: underline;
      font-size: 1rem;
    }
  }
}

.card.home {
  .card-main-left {
    h1 {
      font-size: 5rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

.project-links {
  @include flex-display($align: start, $direction: column);

  a {
    color: $secondary-text-color;
    padding: 5px 10px;
    margin-left: -10px;
    font-size: 1.1rem;

    &:visited {
      color: $secondary-text-color;
    }

    @include hoverColor();
  }
}

.social-icons {
  @include flex-display();
  gap: 1rem;

  svg {
    width: 30px;
    fill: #777;

    @include hoverColor();
    transition: fill 0.2s ease-in-out;
  }
}

.home-button {
  border-radius: 9999px;
  border: none;
  margin-left: -20px;
  background-color: transparent;
  padding: 10px;
  fill: #bbbbbb;

  svg {
    width: 50px;

    @include hoverColor();
    transition: fill 0.2s ease-in-out;
  }
}
